{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}

<h1 class="mb-3 mt-3 ml-3">Cours</h1>

{% include 'cours/liste.html.twig' with {'AllCours': AllCours} %}

<div class="ajoutForm ml-3">
<h2 class="mb-3 mt-3">Ajouter un cours</h2>
{{form(ajout)}}
</div>

{% endblock %}
