{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}

<h1 class="mb-3">Cours</h1>

{% include 'cours/liste.html.twig' with {'AllCours': AllCours} %}

<div class="ml-3">
<h2 class="text-justify mb-3">Ajouter un cours</h2>

{{form(ajout)}}
</div>
{% endblock %}
